@import url(../css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #cfcfcf;
  padding: 10px; }

main {
  border: 1px solid #808080;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center; }

label {
  display: block;
  margin: 10px; }

input {
  border-radius: 5px;
  cursor: pointer; }

button {
  margin: 10px;
  border-radius: 5px; }

.main-header {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2rem; }
  .main-header__subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5rem; }

.workspace-cover {
  position: absolute;
  top: 200px;
  left: 30px;
  background: none;
  border: 2px solid red;
  z-index: 3; }

.img-box {
  position: relative;
  width: 500px;
  height: 500px;
  background: black;
  display: flex;
  align-items: center;
  margin: 20px; }
  .img-box__mousefield {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: none;
    z-index: 3; }
  .img-box::before {
    position: absolute;
    top: 150px;
    left: 150px;
    content: '';
    width: 200px;
    height: 200px;
    border: 2px solid #88ff00;
    border-radius: 50%;
    z-index: 2; }
  .img-box::after {
    position: absolute;
    top: 100px;
    left: 100px;
    content: '';
    width: 300px;
    height: 300px;
    border: 2px solid lime;
    border-radius: 50%;
    z-index: 2; }

.squeeze-wrapper {
  display: flex;
  width: 500px;
  justify-content: space-around; }

.canvas-container {
  margin: 20px;
  display: none; }

#transform-y {
  transform: rotate(-90deg); }
