@import url(../css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #cfcfcf;
  padding: 0;
  margin: 0;
  min-height: 100vh; }

main {
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center; }

input {
  border-radius: 5px;
  cursor: pointer; }

.photo-label {
  width: 500px;
  margin: 0 auto;
  padding-left: 5px; }

.photo-input {
  display: block;
  width: 500px;
  margin: 10px auto;
  background-color: #474747;
  color: white; }

button {
  margin: 10px;
  border-radius: 5px; }

.main-header {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2rem; }
  .main-header__subtitle {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    font-size: 1.5rem; }

.img-box {
  position: relative;
  width: 500px;
  min-height: 500px;
  height: auto;
  background: #cfcfcf;
  display: flex;
  align-items: center;
  margin: 20px auto; }
  .img-box__mousefield {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: none;
    z-index: 3;
    cursor: pointer; }
  .img-box::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 500px;
    height: 500px;
    background-image: url("../circles.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #006eff;
    border-radius: 50%;
    z-index: 2; }

.squeeze-wrapper {
  display: flex;
  width: 500px;
  height: auto;
  margin: 15px;
  justify-content: space-around; }

.x-squeeze, .y-squeeze {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 130px;
  position: relative; }
  .x-squeeze__label, .y-squeeze__label {
    margin: 20px 0 0; }
  .x-squeeze__value, .y-squeeze__value {
    color: #006eff;
    margin: 5px; }

.y-squeeze__input {
  transform: rotate(-90deg) translateY(60px); }

.download {
  background-color: #e6e6e6;
  border: 1px #808080 solid;
  border-radius: 5px;
  padding: 5px;
  color: #006eff;
  transition: background-color .5s ease-in-out, color .5s ease-in-out; }
  .download:visited {
    color: #006eff;
    background: #e6e6e6; }
  .download:hover {
    color: #4a99ff;
    background-color: #414141; }
  .download:active {
    color: #96b9e7;
    background-color: #006eff; }

.canvas-container {
  margin: 20px;
  display: none; }
