@import "../css/normalize.css";
@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    background: $main-background;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
main {
    border: 1px solid $border;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}
input {
    border-radius: 5px;
    cursor: pointer;
}
.photo-label {
    width: 500px;
    margin: 0 auto;
    padding-left: 5px;
}
.photo-input {
    display: block;
    width: 500px;
    margin: 10px auto;
    background-color: #474747;
    color: white;
}
button {
    margin: 10px;
    border-radius: 5px;
}
.main-header {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    &__subtitle {
        margin: 0 0 30px;
        padding: 0;
        text-align: center;
        font-size: 1.5rem;
    }
}
.img-box {
    position: relative;
    width: 500px;
    min-height: 500px;
    height: auto;
    background: $main-background;
    display: flex;
    align-items: center;
    margin: 20px auto;
    &__mousefield {
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 500px;
        background: none;
        z-index: 3;
        cursor: pointer;
    }
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 500px;
        height: 500px;
        background-image: url('../circles.svg');
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid $circle-color;
        border-radius: 50%;
        z-index: 2;
    }
}
.squeeze-wrapper {
    display: flex;
    width: 500px;
    height: auto;
    margin: 15px;
    justify-content: space-around;
}
.x-squeeze, .y-squeeze {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 130px;
    position: relative;
    &__label {
        margin: 20px 0 0;
    }
    &__value {
        color: $circle-color;
        margin: 5px;
    }
}
.y-squeeze__input {
    transform: rotate(-90deg) translateY(60px);
}
.download {
    background-color: $button;
    border: 1px $border solid;
    border-radius: 5px;
    padding: 5px;
    color: $circle-color;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
    &:visited {
        color: $circle-color;
        background: $button;
    }
    &:hover {
        color: $hover;
        background-color: $dark;
    }
    &:active {
        color: $active;
        background-color: $circle-color;
    }
}
.canvas-container {
    margin: 20px;
    display: none;
}
